@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-main: #4b33a8;
    --color-white: #ececec;
    --color-gray: #e2e2e2;
    --color-red: #961818;
    --color-yellow: #F5A623;
    --color-skyblue: #3D6D79;
    --color-skyblue-2: #5D918F;
    --color-skyblue-3: #E0F0EF;
    --color-black: #2C2D2F;
}

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    box-sizing: border-box;
}

body{
    background-color: var(--color-skyblue-2);
}

/* body{
    cursor: url(../img/Cursor_spiderman.png), auto;
}

a, button{
    cursor: url(../img/Cursor_spiderman_2.png), auto;
} */

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/*HEADER*/

header{
    background-color: var(--color-skyblue);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .625rem;
    padding-bottom: 0;
    color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo img{
    width: 14rem;
}

.buscar{
    width: 40%;
    display: flex;
    justify-content: center;
}

.buscar #barra_busqueda{
    width: 85%;
    border-right: 0px solid transparent;
    border-radius: 4px 0 0 4px;
}

.buscar__icono{
    width: 10%;
    border-radius: 0 4px 4px 0;
    background-color: var(--color-yellow);
}

.buscar__icono i{
    color: black;
}

#barra_busqueda, .buscar__icono{
    padding: 10px;
    border: 0.5px solid #aaaaaa;
}

.menu{
    display: flex;
    gap: 1.2rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: var(--color-white);
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    gap: .5rem;
    align-items: center;
    height: 100%;
}

.boton-menu.active{
    background-color: var(--color-white);
    color: var(--color-skyblue);
    height: 65px;
    border-radius: 1rem 1rem 0 0;
    padding: .5rem;
    position: relative;
}

.boton-menu.active::before{
    content: '';
    position:  absolute;
    bottom: 0;
    right: 100%;
    width: 2rem;
    height: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 1rem 0 0 var(--color-white) ;
}

.boton-menu.active::after{
    content: '';
    position:  absolute;
    bottom: 0;
    left: 100%;
    width: 2rem;
    height: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: -1rem 0 0 var(--color-white) ;
}

.boton-carrito.active .numerito{
    background-color: var(--color-skyblue);
    color: var(--color-white);
}

.numerito{
    background-color: var(--color-white);
    color: var(--color-skyblue);
    padding: .15rem .25rem;
    border-radius: .25rem;
}

/*FOOTER*/

footer{
    background-color: var(--color-skyblue-2);
    width: 100%;
    text-align: start;
    color: var(--color-white);
    font-weight: 600;
}

/*CONTENEDOR PRINCIPAL*/
.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: var(--clr-main);
}

/*ASIDE*/

.aside {
    padding-top: 75px;
    padding: 2rem;
    padding-right: 0;
    background-color: var(--color-skyblue-2);
    color: var(--clr-white);
    position: sticky;
    top: 75px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

.aside-titulo {
    font-weight: 600;
    color: var(--color-gray);
    font-size: 1.3rem;
}

.menu-aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.boton-categoria{
    padding: 1rem;
    width: 100%;
}

.boton-categoria.active-aside{
    background-color: var(--color-white);
    color: var(--color-skyblue);
    border-radius: 1rem 0 0 1rem;
    position: relative;
    transition: all .5s ease;
}

.boton-categoria.active-aside::before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 var(--color-white);
}

.boton-menu.active-aside::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 var(--color-white);
}

.boton-menu > i.bi-hand-index-thumb-fill,
.boton-menu > i.bi-hand-index-thumb {
    transform: rotateZ(90deg);
}

/*MAIN*/
main{
    min-height: 90vh;
    background-color: var(--color-white);
    padding: 3rem;
    margin-top: 75px;
    border-radius: 1rem 0 0 1rem;
}

.titulo-principal{
    color: var(--color-yellow);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;  
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.producto-imagen{
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color: var(--color-skyblue);
    color: var(--color-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.producto-titulo{
    font-size: 1rem;
}

.producto-agregar{
    border: 2px solid var(--color-white);
    background-color: var(--color-white);
    color: var(--color-skyblue);
    padding: 0.5rem;
    text-transform: uppercase;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color .2s, color .2s;
}

.producto-agregar:hover{
    background-color: var(--color-skyblue);
    color: var(--color-white);
}

.producto-cantidad{
    display: flex;
    align-items: center;
    gap: .25rem;
}

.producto-cantidad-numero{
    width: 15%;
    background-color: transparent;
    border: 0.5px solid #fff;
    color: var(--color-white);
    padding: 3px;
}

.producto-cantidad button{
    padding: 5px;
    width: 1.5rem;
    height: 1.5rem;
    border: 0.5px solid #fff;
    border-radius: 0.5rem;
}

/*CARRITO*/

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.boton-volver{
    display: inline-block;
    margin-bottom: 1rem;
}

.carrito-vacio, .carrito-comprado{
    color: var(--color-skyblue);
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-gray);
    color: var(--color-skyblue);
    padding: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
    align-items: center;
}

.carrito-producto-imagen{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: 0.75rem;
}

.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color: var(--color-red);
    cursor: pointer;
}

.carrito-acciones{
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar{
    border: 0;
    background-color: var(--color-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--color-skyblue);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.carrito-acciones-derecha{
    display: flex;
}

.carrito-acciones-total{
    display: flex;
    background-color: var(--color-gray);
    padding: 1rem;
    color: var(--color-skyblue);
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 1rem 0 0 1rem;
    gap: 1rem;
}

.carrito-acciones-comprar{
    border: 0;
    background-color: var(--color-skyblue);
    padding: 1rem;
    border-radius: 0 1rem 1rem 0;
    color: var(--color-white);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.disabled{
    display: none;
}

